#section-blog-1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../../../public/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1,p{
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}
.cards{

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    div{
        div{position: relative;
            .rectangledansimage{
                position: absolute;
                height: 35px;
                max-width: max-content;
                background-color: rgba(255,255,255,0.85);

                z-index: 1;
                p{
                    color: #ED7117;
                }
            }
        }
    }
}
#section-blog-6{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../../../public/img/signup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    h3{
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    div{
        display: flex;
       justify-content: center;
    }
}

