.second-menu {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .second-menu_card {
        background-color: $header;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        .second-menu_card-title {
            margin-top: 2rem;
            margin-bottom: 1rem;
            border-bottom: solid 1px lightgray;
        }
        .second-menu_card-card {
            display: flex;
            .card {
                margin-right: 1rem;
                .image>img {
                    position: relative;
                }
                .image>p {
                    position: absolute;
                    left: 11rem;
                    top: 6rem;
                    background-color: rgba(255,255,255,0.85);
                    color: $button;
                    padding: 1%;
                }
            }
        }
    }
}