$header : #EAF0FF;
$button : #F2745F;

$spacers:(
    text: 1rem *2.6,
    6: 1rem * 6,
    7: 1rem *12,
    cadre: 1rem *5.5,
);

$sizes:(
  
    15: 15%,

  );
$theme-colors: (
    "sendmsg":#ED7117,

);